{% extends "frontend/base.html" %}
{% load static %}
{% block content %}
    <header class="header">
        <div class="container">
            <h1 class="main_title">
                Название сайта
            </h1>
        </div>
    </header>
    <main class="main">
        <section class="section hero">
            <div class="container example-block">
                <h2 class="title">
                    Примеры работ:
                </h2>
                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                      <!-- Slides -->
                      <div class="swiper-slide">
                        <img class="example-img" src="{% static 'frontend/img/1663746686_49-mykaleidoscope-ru-p-yeda-na-mangale-yeda-instagram-57.jpg' %}" alt="мангал">
                      </div>
                      <div class="swiper-slide">
                        <img class="example-img" src="{% static 'frontend/img/1681139690_sneg-top-p-mangal-kartinki-pinterest-52.jpg' %}" alt="мангал">
                      </div>
                      <div class="swiper-slide">
                        <img class="example-img" src="{% static 'frontend/img/38d01526a4519ab4f491e1577af0fc98.jpeg' %}" alt="мангал">
                      </div>
                      <div class="swiper-slide">
                        <img class="example-img" src="{% static 'frontend/img/090_kovaniy_mangal_utyug.jpg' %}" alt="мангал">
                      </div>
                    </div>
                    <div class="swiper-pagination"></div>
                    <!-- <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div> -->
                    <!-- <div class="swiper-scrollbar"></div> -->
                  </div>
            </div>
        </section>
        <section class="section">

        </section>
        <section class="section">

        </section>

    </main>
    <footer class="footer">

    </footer>
{% endblock %}
