@media (min-width: 576px) {
    :root {
        --font-size-standart: 40px;
    }

    .swiper-card {

        width: 72%;

    }

}

@media (min-width: 700px) {
    .swiper-card {

        width: 68%;

    }
}

@media (min-width: 850px) {
    .swiper-card {

        width: 58%;

    }
}

