@font-face {
    font-family: 'Muller';
    src: local('MullerRegular'), 
    url('../fonts/MullerRegular.woff') format('woff'),
    url('../fonts/MullerRegular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Muller';
    src: local('MullerMedium'), 
    url('../fonts/MullerMedium.woff') format('woff'),
    url('../fonts/MullerMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Muller';
    src: local('MullerExtraBold'),
    url('../fonts/MullerExtraBold.woff') format('woff'),
    url('../fonts/MullerExtraBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Muller';
    src: local('MullerRegularItalic'), 
    url('../fonts/MullerRegularItalic.woff') format('woff'),
    url('../fonts/MullerRegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Nexa';
    src: local('Nexa'), 
    url('../fonts/nexa-script-bold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  
  @font-face {
    font-family: 'RussoOne';
    src: local('RussoOne'), 
    url('../fonts/russo-one.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  :root {
    --font-color: rgb(27, 164, 27);
    --font-size-standart: 17px;
  }

  h1, h2, h3, h4, h5, h6, h7 {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: 'Muller';
  }

  .header {
    background-color: white;
    border-bottom: 1px solid var(--font-color);
    filter: drop-shadow(5px 5px 5px var(--font-color));
    padding: 10px;
    height: min-content;
  }

  .container {
    width: 90%;
    margin: 0 auto;
  }

  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .example-block {
    text-align: center;
  }

  .main_title {
    font-family: 'Nexa', 'Muller';
    font-weight: 500;
    color: var(--font-color);
    text-align: center;
  }

  .section {
    padding: 30px;
  }

  .title {
    font-family: 'RussoOne';
    font-weight: 400;
    font-size: var(--font-size-standart);
    color: var(--font-color);
    margin-bottom: 20px;
  }

  .swiper {
    max-height: 250px;
    padding: 20px;
  }

  .swiper-pagination {
    bottom: -5px !important;
    height: 20px !important;
    z-index: 100;
  }

  .example-img {
    width: 80%;
    cursor: pointer;
    border-radius: 5px;
  }